@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blanco: #fafafa;
  --casiBlanco: #dbdbdb;
  --grisClaro: #b9b9b9;
  --gris: #787878;
  --casiNegro: #2c2c2c;
  --negro: #141414;

  --primario: #ffd953;
  --secundario: #535aff;
  --negativo: #ff5353;
  --exito: #69f05d;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--negro);
  margin: 0 auto;
}

/* Intro */
.intro {
  background-image: url('../images/bg.png');
  /* height: 616px; */
}

@media (min-width: 1440px) {
  .intro {
    padding: 2.25rem 5rem 0 5rem;
  }
}

.header {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1440px) {
  .header {
    padding: 0;
  }

  .header__burger {
    display: none;
  }
}

.header__logo {
  width: 3.375rem;
  height: auto;
}

@media (min-width: 1440px) {
  .header__logo {
    width: 5.9rem;
  }
}

.header__nav {
  display: none;
}

@media (min-width: 1440px) {
  .header__nav {
    display: flex;
  }
}

.header__links {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  gap: 25px;
  list-style: none;
  display: none;
}

@media (min-width: 1440px) {
  .header__links {
    display: flex;
    gap: 3.5rem;
  }
}

.header__links a {
  text-decoration: none;
  color: inherit;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 33.25rem;
  }
}

.welcome__title {
  font-size: 3rem;
  text-align: center;
  line-height: 48px;
  letter-spacing: -1px;
  padding: 6.315rem 0 3.625rem 0;
}

@media (min-width: 1440px) {
  .welcome__title {
    text-align: start;
    width: 19.563rem;
    margin-bottom: 10rem;
  }
}

.welcome__img {
  height: auto;
  max-width: 100%;
}

@media (min-width: 1440px) {
  .welcome__img {
    align-self: end;
    width: 27rem;
  }
}

/* Sobre mí */
.me {
  /* height: 538px; */
  background-color: var(--negro);
  color: var(--blanco);
  padding: 0 1.938rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 9rem 19.125rem;
  }

  .me__right {
    width: 33.25rem;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.me__title {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -2px;
  text-align: center;
  padding-top: 3.438rem;
}

@media (min-width: 1440px) {
  .me__title {
    padding-top: 0;
  }
}

.me__description {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  padding-top: 2.563rem;
}

@media (min-width: 1440px) {
  .me__description {
    font-size: 1.5rem;
  }
}

.me__img {
  padding-top: 3.563rem;
  margin-bottom: 4.25rem;
  width: 5rem;
}

@media (min-width: 1440px) {
  .me__img {
    width: 13.188rem;
  }
}

/* Mis servicios */
.services {
  background-color: var(--blanco);
  color: var(--casiNegro);
}

.services__title {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -2px;
  text-align: center;
  padding-top: 4.375rem;
  margin-bottom: 2.75rem;
}

@media (min-width: 1440px) {
  .services__title {
    font-size: 3rem;
    margin-bottom: 4.4rem;
  }
}

.services__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .services__cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.5rem;
}

.services__card:last-child {
  margin-bottom: 4.125rem;
}

.services__card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.875rem 0 0.938rem 0;
}

.services__card-text {
  text-align: center;
  padding: 0 3.5rem;
}

/* Contact me */
.section__form {
  background-color: var(--negro);
  color: var(--blanco);
  /* height: 660px; */
}

@media (min-width: 1440px) {
  .section__form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 7.25rem 18.75rem 6rem 18.75rem;
  }

  .form__right {
    width: 23.5rem;
  }
}

.form__title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: -2px;
  text-align: center;
  padding: 4.375rem 0 2.313rem 0;
}

@media (min-width: 1440px) {
  .form__title {
    font-size: 3rem;
    padding: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}

.form__label {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  text-transform: uppercase;
  margin-bottom: 0.563rem;
}

input {
  margin-bottom: 1.688rem;
  height: 2.813rem;
}

textarea {
  margin-bottom: 3.75rem;
  height: 7.063rem;
  resize: none;
}

input,
textarea {
  width: 100%;
  border: 3px solid var(--casiNegro);
  border-radius: 0.25rem;
}

.form__btn {
  background-color: var(--primario);
  color: var(--negro);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 100%;
  height: 2.813rem;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 4.375rem;
  cursor: pointer;
}

.form__btn:active {
  background-color: var(--blanco);
  color: var(--primario);
  border: 5px solid var(--primario);
}

/* Footer */
.footer {
  background-color: var(--casiBlanco);
  color: var(--casiNegro);
  /* height: 493px; */
  padding: 1rem;
}

@media (min-width: 1440px) {
  .footer {
    background: url('../images/puntitos.png');
    background-color: var(--casiBlanco);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3.125rem 16rem 4rem 5rem;
  }
}

.footer__img {
  margin-top: 3.313rem;
  width: 4.8rem;
  height: auto;
  max-width: 100%;
}

@media (min-width: 1440px) {
  .footer__img {
    width: 7rem;
  }
}

.footer__copyright {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  margin: 1.125rem 0 5.313rem 0;
}

.footer__links {
  padding: 0;
  list-style: none;
}

@media (min-width: 1440px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.footer__link {
  margin-bottom: 1.813rem;
}

@media (min-width: 1440px) {
  .footer__link {
    margin-bottom: 3rem;
  }
}

.footer__link:last-child {
  margin-bottom: 7.063rem;
}

@media (min-width: 1440px) {
  .footer__link:last-child {
    margin: 0;
  }
}

.footer__links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}
